

<div class="container text-center mt-5">

    <h2>🎉 Booking Confirmed!</h2>

    <p>Your room booking has been saved successfully.</p>

    <a href="/Rooms" class="btn btn-primary mt-3">
        Go Back To Rooms
    </a>

</div>