body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color: white;
}

/* LOGIN CARD */

.login-card {
    width: 400px;
    padding: 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    text-align: center;
}


/* LOGO */

.logo {
    font-size: 45px;
    color: #facc15;
    margin-bottom: 10px;
}


/* INPUT BOX */

.input-box {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}

    .input-box i {
        color: #cbd5f5;
        margin-right: 10px;
    }

    .input-box input {
        flex: 1;
        border: none;
        background: transparent;
        color: white;
        outline: none;
    }


/* PASSWORD EYE */

.toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #cbd5f5;
}




/* BUTTON */

.login-btn {
    background: linear-gradient(45deg,#6366f1,#8b5cf6);
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-weight: 600;
    transition: .3s;
}

    .login-btn:hover {
        transform: scale(1.05);
    }


/* FOOTER */

.login-footer {
    margin-top: 20px;
    font-size: 12px;
    color: #94a3b8;
}
